* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1e1f2e;


    color: #fff;
    font-family: 新細明體;
}

nav,
footer {
    font-family: 微軟正黑體;
    list-style: none;
    z-index: 2;

}

nav {
    position: fixed;

    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;

    padding: 2%;
    font-size: 22px;
    background-color: #070720;
    right: 0;
}

.nav-left img {
    width: 40px;
    height: 40px;
    transform: scale(1.5);
    border-radius: 5px;
    border-radius: 50%;
}

.nav-right {
    margin-left: auto;
}

.nav-right ul {
    display: flex;
    list-style: none;

}

.nav-right li {
    margin-left: 40px;
}

.nav-right li::after,
.nav-right li::before {
    content: '';
    position: absolute;
    top: 25%;
    bottom: 25%;
    width: 2px;
    background-color: #fd5e;
    transform: scaleY(0);

    transition: transform 300ms;
}


.nav-right li::after {
    margin-left: 10px;
    transform-origin: top;
}

.nav-right li::before {
    margin-left: -10px;
    transform-origin: bottom;
}


.nav-right li:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
}

.nav-right li:hover::before {
    transform: scaleY(1);
    transform-origin: top;
}

.nav-right a {
    color: #fff;
}


/* -------------------main------------------ */

main {
    width: 60%;
    display: flex;
    margin: auto;
}

/* ------------------(1)------------------ */
#hidden-menu {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #39f;
    border-radius: 5px;
    z-index: 1;
}

/* ------------------(2)------------------ */

main article:nth-child(2) {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 40%;

}

#line-first,
#line-second,
#line-third,
#line-fourth {
    margin-bottom: 100px;
    width: 100%;
    z-index: 3;
}

main article:nth-child(2) section {
    min-width: 85%;

    padding: 0 12%;
    margin-bottom: 100px;

    line-height: 200%;
    letter-spacing: 2px;

    font-family: Arial, 新細明體, sans-serif;
}

h1 {
    font-family: 微軟正黑體;
    font-size: 28px;
    margin: 20px;
    color: #fc0e;
}

h2 {
    font-family: 微軟正黑體;
    color: #fd5e;
}

h3 {
    font-family: 微軟正黑體;
    color: #feae;

}

p {
    text-indent: 2rem;
}

/* ------------------(3)------------------ */

main article:nth-child(3) {
    background: #222;
}

footer {
    display: flex;
    margin-top: 100px;
    align-items: flex-end;
}

.footer-content {
    width: 100%;
    min-height: 100px;
    background: gray;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------progress-bar------------------ */

#progress-bar {
    display: flex;
    width: 100%;
    font-family: 微軟正黑體;
    font-size: 20px;
    font-weight: bold;

}

/* ------------------progress-bar-left------------------ */

.progress-bar-left {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;

}

.progress-bar-left ul {
    list-style: none;

}

.progress-bar-left li {
    margin-top: 100px;
    line-height: 35px;
}

.progress-bar-left a {
    letter-spacing: 3px;
    color: #fd5e;
    font-size: 18px;
}

/* -----------------progress-bar-right------------------- */
.progress-bar-right {
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.progress-bar-right ul {
    list-style: none;
}

.progress-bar-right li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #555;
    position: relative;
    line-height: 35px;
    text-align: center;
    z-index: 2;
    margin-top: 100px;

}

.progress-bar-right li:not(:first-child):before {
    content: '';
    position: absolute;
    width: 100px;
    height: 6px;
    background: #fd5e;
    transform: rotate(90deg);
    top: -53px;
    right: -32px;

}

.progress-bar-right a {
    color: #fff;
    font-weight: 900;
    font-size: 24px;
}

.progress-bar-right li.active {
    background-color: orange;
    transform: scale(1.1);
    z-index: 1;

}

.progress-bar-right li.active~li {
    background-color: #999;
}

.progress-bar-right li.active~li::before {
    background-color: #999;
}

.progress-bar-btn {
    transform: scale(0);
}

hr {
    margin: 10px 0;
}

.progress-bar-btn {
    display: none;
}

img {
    border-radius: 6px;
}

.line-img {
    width: 500px;
}

.p-img {
    float: right;
    width: 200px;
}

@media(max-width:900px) {
    nav {
        font-size: 18px;
        padding: 5%;
    }

    .progress-bar-btn {
        margin: auto;
        color: #fff;
        background: rgb(1, 1, 1, 0);
        border: 0;
        cursor: pointer;
        /* transform: rotate(90deg) scaleY(4) scaleX(3) translateX(0px); */
        display: inline-block;
    }


    #hidden-menu {
        transform: scale(0);
        width: 100%;
        transform-origin: top;
        transition: transform 300ms;
    }

    main {
        width: 100%;
    }

    main article:nth-child(2) {
        margin: auto;

    }

    .footer-content {
        flex-direction: column;
    }
}